.hero-bg {
  width: 100vw;
  z-index: 0;
  background-image: url('/images/Hero.png');
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, #F8F8F8 7%);
  mask-image: linear-gradient(to bottom, transparent 0%, #F8F8F8 7%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 150vh;
}

@media (max-width: 1024px) { /* md */
  .hero-bg {
    background-image: url('/images/hero_tab.png');
    background-size: 100vw;  /* Вместо cover */
    background-repeat: no-repeat;
    background-position: center ; /* или center center, чтобы правильно показать верх блока */
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, #F8F8F8 20%);
    mask-image: linear-gradient(to bottom, transparent 0%, #F8F8F8 20%);
    aspect-ratio: 16 / 9;
    width: 100vw;
    min-height: 550px;
    
  }
}

@media (max-width: 640px) {
  .hero-bg {

    background-size: cover;
    background-position: center;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, #F8F8F8 25%);
    mask-image: linear-gradient(to bottom, transparent 0%, #F8F8F8 25%);
    min-height: 50vh; 
  }
}
